* {
  margin: 0;
}

@font-face {
  font-family: "impHeavy";
  src: url("/fonts/Impetus\ Heavy.otf") format("opentype");
}
@font-face {
  font-family: "impHeavyInline";
  src: url("/fonts/Impetus\ Inline.otf") format("opentype");
}
@font-face {
  font-family: "serenityLight";
  src: url("/fonts/Serenity\ \ Light.otf") format("opentype");
}
@font-face {
  font-family: "serenityBoldI";
  src: url("/fonts/Serenity\ Bold\ Italic.otf") format("opentype");
}
@font-face {
  font-family: "serenityBold";
  src: url("/fonts/Serenity\ Bold.otf") format("opentype");
}
@font-face {
  font-family: "serenityDemiBoldI";
  src: url("/fonts/Serenity\ Demi\ Bold\ Italic.otf") format("opentype");
}
@font-face {
  font-family: "serenityDemiBold";
  src: url("/fonts/Serenity\ Demi\ Bold.otf") format("opentype");
}
@font-face {
  font-family: "serenityELightI";
  src: url("/fonts/Serenity\ Extra\ Light\ Italic.otf") format("opentype");
}
@font-face {
  font-family: "serenityELight";
  src: url("/fonts/Serenity\ Extra\ Light.otf") format("opentype");
}
@font-face {
  font-family: "serenityHI";
  src: url("/fonts/Serenity\ Heavy\ Italic.otf") format("opentype");
}
@font-face {
  font-family: "serenityH";
  src: url("/fonts/Serenity\ Heavy.otf") format("opentype");
}
@font-face {
  font-family: "serenityLI";
  src: url("/fonts/Serenity\ Light\ Italic.otf") format("opentype");
}
@font-face {
  font-family: "serenityMedI";
  src: url("/fonts/Serenity\ Medium\ Italic.otf") format("opentype");
}
@font-face {
  font-family: "serenityM";
  src: url("/fonts/Serenity\ Medium.otf") format("opentype");
}
@font-face {
  font-family: "serenityThinI";
  src: url("/fonts/Serenity\ Thin\ Italic.otf") format("opentype");
}
@font-face {
  font-family: "serenityThin";
  src: url("/fonts/Serenity\ Thin.otf") format("opentype");
}

.nav{
  font-family: impHeavy
}

h1{
  font-family: impHeavyInline
}

h2{
  font-family: serenityBold;
}

h3{
  font-family: serenityM
}

section{
  font-family: serenityLight;
}


